/* === General CSS Reset === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

input,
textarea,
button {
    font-family: inherit;
}

.social-links {
    margin-top: 1.5rem;
    display: flex;
    gap: 20px;
}

.social-links a {
    color: #ffffff;
    /* or any text color based on your theme */
    font-size: 1.4rem;
    transition: 0.3s ease;
}

.social-links a:hover {
    color: #00bcd4;
    /* highlight color */
    transform: translateY(-3px);
}

/* Project Section */

.project-buttons {
    display: flex;
    gap: 15px;
    margin: 1rem 0;
    /* spacing above and below */
}

.btn {
    padding: 10px 18px;
    border-radius: 6px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-block;
    transition: 0.25s ease;
}

.code-btn {
    background:#2563eb;
    color: #fff;
}

.code-btn:hover {
    background: #1d4ed8;
}

.live-btn {
    background: #16a34a;
    color: #fff;
}

.live-btn:hover {
    background: #15803d;
}