/* === General CSS Reset === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5;
}


a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

section {
    scroll-margin-top: 80px;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem 1rem;
    background-color: #000;
    z-index: 1000;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.navbar ul {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
    color: #fff;
}

.navbar a {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #8ab4f8, #8ab4f8 50%, #fff 0);
    background-position: -100%;
    background-size: 200% 100%;
    display: inline-block;
    font-size: 18px;
    padding: 5px 0;
    position: relative;
    transition: all .5s ease
}

.navbar a:before {
    background: #8ab4f8;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 0
}

.navbar a:hover {
    background-position: 0
}

.navbar a:hover:before {
    width: 100%
}

/* Tablet screens */
@media only screen and (max-width: 1024px) {
    .navbar a {
        font-size: 16px;
    }

    .navbar ul {
        gap: 1.5rem;
        justify-content: center;
        margin-right: 0;
    }
}

/* Mobile screens */
@media only screen and (max-width: 520px) {
    .navbar a {
        font-size: 14px;
    }

    .navbar ul {
        gap: 1rem;
        justify-content: center;
        margin-right: 0;
    }
}


/* hero */
.hero-section {
    color: #fff;
    align-items: center;
    font-weight: 300;
    height: 100vh;
    justify-content: center;
    margin: auto;
    padding-top: 25vmin;
    background-image: url(images/projects/52267.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
}

.hero-section h3 {
    -webkit-animation: rotate 1.5s ease-in 1;
    animation: rotate 1.5s ease-in 1;
    font-size: 45px;
    margin-left: 5vh;
    font-weight: 400;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg)
    }

    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg)
    }

    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg)
    }
}

.hero-section a i {
    color: #fff;
    font-size: 3rem;
}

.hero-section p {
    font-size: 30px;
    margin-left: 5vh;
}

.hero-section-icons {
    margin-top: 0.4rem;
    display: flex;
    gap: 20px;
    transition: 0.3s ease;
    align-items: center;
    margin-left: 5vh;
    flex-wrap: wrap;
}

.hero-section-icons a:hover {
    color: #00bcd4;
    -webkit-animation: shake .5s;
    animation: shake .5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    color: #8ab4f8
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(1px, 1px) rotate(0deg);
        transform: translate(1px, 1px) rotate(0deg)
    }

    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
        transform: translate(-1px, -2px) rotate(-1deg)
    }

    20% {
        -webkit-transform: translate(-3px) rotate(1deg);
        transform: translate(-3px) rotate(1deg)
    }

    30% {
        -webkit-transform: translate(3px, 2px) rotate(0deg);
        transform: translate(3px, 2px) rotate(0deg)
    }

    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
        transform: translate(1px, -1px) rotate(1deg)
    }

    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
        transform: translate(-1px, 2px) rotate(-1deg)
    }

    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
        transform: translate(-3px, 1px) rotate(0deg)
    }

    70% {
        -webkit-transform: translate(3px, 1px) rotate(-1deg);
        transform: translate(3px, 1px) rotate(-1deg)
    }

    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
        transform: translate(-1px, -1px) rotate(1deg)
    }

    90% {
        -webkit-transform: translate(1px, 2px) rotate(0deg);
        transform: translate(1px, 2px) rotate(0deg)
    }

    to {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
        transform: translate(1px, -2px) rotate(-1deg)
    }
}

@keyframes shake {
    0% {
        -webkit-transform: translate(1px, 1px) rotate(0deg);
        transform: translate(1px, 1px) rotate(0deg)
    }

    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
        transform: translate(-1px, -2px) rotate(-1deg)
    }

    20% {
        -webkit-transform: translate(-3px) rotate(1deg);
        transform: translate(-3px) rotate(1deg)
    }

    30% {
        -webkit-transform: translate(3px, 2px) rotate(0deg);
        transform: translate(3px, 2px) rotate(0deg)
    }

    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
        transform: translate(1px, -1px) rotate(1deg)
    }

    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
        transform: translate(-1px, 2px) rotate(-1deg)
    }

    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
        transform: translate(-3px, 1px) rotate(0deg)
    }

    70% {
        -webkit-transform: translate(3px, 1px) rotate(-1deg);
        transform: translate(3px, 1px) rotate(-1deg)
    }

    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
        transform: translate(-1px, -1px) rotate(1deg)
    }

    90% {
        -webkit-transform: translate(1px, 2px) rotate(0deg);
        transform: translate(1px, 2px) rotate(0deg)
    }

    to {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
        transform: translate(1px, -2px) rotate(-1deg)
    }
}

.hero-btn {
    padding: 8px 16px;
    font-size: 13px;
    line-height: 1;
    border: #4169e1 2px solid;
    border-radius: 6px;
    background-color: #8ab4f8;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-btn:hover {
    background-color: #4169e1;
}

@media only screen and (max-width: 1024px) {
    .hero-section {
        padding-top: 20vmin;
        height: 90vh;
    }

    .hero-section h3 {
        font-size: 38px;
        margin-left: 3vh;
    }

    .hero-section p {
        font-size: 24px;
        margin-left: 3vh;
    }

    .hero-section-icons {
        margin-left: 3vh;
        gap: 15px;
    }
}

/* Mobile responsiveness */
@media only screen and (max-width: 520px) {
    .hero-section {
        padding-top: 15vmin;
        height: auto;
        text-align: left;
        background-position: top;
        padding-bottom: 15vmin;
    }

    .hero-section h3 {
        font-size: 23px;
        margin-left: 5vh;
    }

    .hero-section p {
        font-size: 15px;
        margin-left: 5vh;
    }

    .hero-section-icons {
        flex-direction: row;
        margin-left: 5vh;
        gap: 10px;
        align-items: center;
    }

    .hero-section a i {
        font-size: 1.5rem;
    }

    .hero-btn {
        padding: 4px 8px;
        font-size: 11px;
    }
}

/* Portfolio Section */

.portfolio {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    padding: 4rem 2rem 6rem 2rem;
}

.portfolio-header {
    text-align: center;
    padding: 2rem 1rem 2rem 1rem;
}

.portfolio-header h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.portfolio-header p {
    font-size: 1.1rem;
    color: #555;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}

.portfolio-card {
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.portfolio-card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.portfolio-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.portfolio-card p {
    font-size: 1rem;
    color: #666;
}

.portfolio-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    border: 4px outset #000;
}


.portfolio-buttons {
    display: flex;
    gap: 15px;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.btn {
    padding: 10px 18px;
    border-radius: 6px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-block;
    transition: 0.25s ease;
}

.code-btn {
    background: #2563eb;
    color: #fff;
}

.code-btn:hover {
    background: #1d4ed8;
}

.live-btn {
    background: #16a34a;
    color: #fff;
}

.live-btn:hover {
    background: #15803d;
}

/* Tablet screens (max 1024px) */
@media only screen and (max-width: 1024px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        max-width: 900px;
    }

    .portfolio-card h3 {
        font-size: 1.3rem;
    }

    .portfolio-card p {
        font-size: 0.95rem;
    }

    .btn {
        font-size: 0.85rem;
        padding: 9px 16px;
    }
}

/* Mobile screens (max 520px) */
@media only screen and (max-width: 520px) {
    .portfolio {
        padding: 2rem 1rem 4rem 1rem;
    }

    .portfolio-header {
        padding: 1.1rem 1rem 1rem 1rem;
    }

    .portfolio-header h2 {
        font-size: 1.6rem;
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
        gap: 0.8rem;
    }

    .portfolio-card img {
        height: 180px;
    }

    .portfolio-card h3 {
        font-size: 1.2rem;
    }

    .portfolio-card p {
        font-size: 0.9rem;
    }

    .btn {
        padding: 8px 14px;
        font-size: 0.85rem;
    }

    .portfolio-buttons {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
}

/* About-Section */

.about {
    background-color: #2b2b2b;
    padding-bottom: 10vmin;
    color: #fff;
}

.about h2 {
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.about-section {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    flex-wrap: wrap;
}

.about img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px outset #fff;
    flex-shrink: 0;
}

.about-text {
    max-width: 600px;
}

.about-text p {
    font-size: 1.4rem;
    color: #ddd;
    line-height: 1.6;
}

/* Tablet screens */
@media only screen and (max-width: 1024px) {
    .about-section {
        gap: 3rem;
        padding: 3rem;
    }

    .about-text p {
        font-size: 1.25rem;
    }
}

/* Mobile screens */
@media only screen and (max-width: 520px) {
    .about-section {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
    }

    .about h2 {
        font-size: 1.6rem;
    }

    .about img {
        width: 150px;
        height: 150px;
    }

    .about-text p {
        font-size: 0.9em;
        text-align: center;
    }
}

/* Skills-Section */

.skills-section {
    background-color: #000312;
    color: #fff;
    /* padding-bottom: 10vmin; */
    background-image: url(images/projects/SkillsBS.5ad69da61dd96519f53d.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding: 8rem 0 12rem;
}

.skills-section h2 {
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
    font-size: 35px;
    margin-bottom: 1rem;
    font-weight: 500;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.skills-list li {
    -webkit-animation: spin 2s linear 1;
    animation: spin 2s linear 1;
    padding-top: 5vmin;
    padding-left: 1vh;
    padding-right: 1vh
}

.skills-list i {
    font-size: 3.2rem;
}

.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #1572b6;
}

.fa-js {
    color: #f7df1e;
}

.fa-react {
    color: #61dafb;
}

.fa-git-alt {
    color: #f05032;
}

.fa-github {
    color: #ffffff;
}

.fa-figma {
    color: #f24e1e;
}

.skills-list i:hover {
    -webkit-animation: vibrate .5s linear infinite;
    animation: vibrate .5s linear infinite
}

@-webkit-keyframes vibrate {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    25% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    50% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }

    75% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes vibrate {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    25% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    50% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }

    75% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}


/* Tablet screens */
@media only screen and (max-width: 1024px) {
    .skills-list i {
        font-size: 2.8rem;
    }

    .skills-list li {
        padding-top: 4vmin;
        padding-left: 0.8vh;
        padding-right: 0.8vh;
    }
}

/* Mobile screens */
@media only screen and (max-width: 520px) {
    .skills-section {
        padding: 4rem 1rem 6rem 1rem;
    }

    .skills-list i {
        font-size: 2.2rem;
    }

    .skills-list li {
        padding-top: 3vmin;
        padding-left: 0.5vh;
        padding-right: 0.5vh;
    }
}


/* Contact */

.contact {
    background-color: #fff;
    padding-bottom: 10vmin;
    padding: 50px;
}

.contact h3 {
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
    color: #0D47A1;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: transparent;
    border: none;
    color: #1F3A93;
    font-size: 18px;
    width: 100%;
    max-width: 480px;
    margin: auto;
}

.form-control button {
    width: auto;
    min-width: 120px;
    background-color: #8ab4f8;
    border-color: #0d6efd;
    border-radius: 10px;
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    padding: 1vh 1rem;
    white-space: nowrap;
    align-self: flex-start;
}

.form-control button:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
}

.form-control button:focus {
    outline: 5px solid rgba(13, 110, 253, .25)
}

.contact #name,
.contact #email {
    border: none;
    border-bottom: 2px solid #000;
}

.contact #name,
.contact #email,
.contact #message {
    background-color: transparent;
    color: #000;
    width: 100%;
}

.contact #message {
    border: none;
    border-bottom: 2px solid;
    height: 150px;
    resize: none;
}

.contact #name:hover,
.contact #email:hover,
.contact #message:hover {
    -webkit-animation: mymove 3s ease-in-out infinite;
    animation: mymove 3s ease-in-out infinite;
    border-bottom: 2px solid;
}

@-webkit-keyframes mymove {
    0% {
        border-color: #ee7752
    }

    25% {
        border-color: #23d5ab
    }

    50% {
        border-color: #e73c7e
    }

    75% {
        border-color: #8ab4f8
    }

    to {
        border-color: #ee7752
    }
}

@keyframes mymove {
    0% {
        border-color: #ee7752
    }

    25% {
        border-color: #23d5ab
    }

    50% {
        border-color: #e73c7e
    }

    75% {
        border-color: #8ab4f8
    }

    to {
        border-color: #ee7752
    }
}

.form-control input,
.form-control textarea {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    color: #000;
}

input:focus,
textarea:focus {
    outline: none;
}

.form-status {
    margin-top: 12px;
    font-size: 14px;
}

.form-status.success {
    color: #4caf50;
}

.form-status.error {
    color: #ff5252;
}

/* Tablet screens */
@media only screen and (max-width: 1024px) {
    .contact {
        padding: 4rem 2rem 6rem 2rem;
    }

    .contact h3 {
        font-size: 2.2rem;
    }

    .form-control input,
    .form-control textarea {
        font-size: 15px;
    }

    .form-control button {
        font-size: 0.95rem;
        padding: 0.9vh 1rem;
    }
}

/* Mobile screens */
@media only screen and (max-width: 520px) {
    .contact {
        padding: 2rem 1rem 7vmin 1rem;
    }

    .contact h3 {
        font-size: 1.8rem;
    }

    .contact #message {
        height: 80px;
    }

    .form-control {
        font-size: 14px;
        gap: 0.8rem;
        max-width: 180px;
        max-width: 0 auto;
    }

    .form-control input,
    .form-control textarea {
        font-size: 11px;
    }

    .form-control button {
        min-width: 90px;
        font-size: 0.85rem;
        padding: 0.6vh 0.8rem;
        align-self: center;
    }
}

/* footer*/

footer {
    background-color: #000;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 1.1rem;
}

/* Tablet */
@media (max-width: 768px) {
    footer {
        font-size: 1rem;
        padding: 0.8rem 1rem;
    }
}

/* Mobile */
@media (max-width: 520px) {
    footer {
        font-size: 0.9rem;
        padding: 0.7rem 1rem;
        line-height: 1.4;
    }
}