/* === General CSS Reset === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5;
}


a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

/* Navbar */
.navbar {
    width: 100%;
    padding: 0.8rem 0;
    background-color: #000;
}

.navbar ul {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
    color: #fff;
}

.navbar a {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #8ab4f8, #8ab4f8 50%, #fff 0);
    background-position: -100%;
    background-size: 200% 100%;
    display: inline-block;
    font-size: 18px;
    padding: 5px 0;
    position: relative;
    transition: all .5s ease
}

.navbar a:before {
    background: #8ab4f8;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 0
}

.navbar a:hover {
    background-position: 0
}

.navbar a:hover:before {
    width: 100%
}


/* hero */
.hero-section {
    color: #fff;
    align-items: center;
    font-weight: 300;
    height: 100vmin;
    justify-content: center;
    margin: auto;
    padding-top: 25vmin;
    background-image: url(images/projects/52267.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section h3 {
    -webkit-animation: rotate 1.5s ease-in 1;
    animation: rotate 1.5s ease-in 1;
    font-size: 45px;
    margin-left: 5vh;
    font-weight: 400;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg)
    }

    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg)
    }

    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg)
    }
}

.hero-section a {
    color: #fff;
    font-size: 3rem;
}

.hero-section p {
    font-size: 30px;
}

.hero-section p,
.hero-section-icons {
    margin-left: 5vh;

}

.hero-section-icons {
    margin-top: 0.4rem;
    display: flex;
    gap: 20px;
    transition: 0.3s ease;
    align-items: center;
}

.hero-section-icons a:hover {
    color: #00bcd4;
    -webkit-animation: shake .5s;
    animation: shake .5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    color: #8ab4f8
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(1px, 1px) rotate(0deg);
        transform: translate(1px, 1px) rotate(0deg)
    }

    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
        transform: translate(-1px, -2px) rotate(-1deg)
    }

    20% {
        -webkit-transform: translate(-3px) rotate(1deg);
        transform: translate(-3px) rotate(1deg)
    }

    30% {
        -webkit-transform: translate(3px, 2px) rotate(0deg);
        transform: translate(3px, 2px) rotate(0deg)
    }

    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
        transform: translate(1px, -1px) rotate(1deg)
    }

    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
        transform: translate(-1px, 2px) rotate(-1deg)
    }

    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
        transform: translate(-3px, 1px) rotate(0deg)
    }

    70% {
        -webkit-transform: translate(3px, 1px) rotate(-1deg);
        transform: translate(3px, 1px) rotate(-1deg)
    }

    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
        transform: translate(-1px, -1px) rotate(1deg)
    }

    90% {
        -webkit-transform: translate(1px, 2px) rotate(0deg);
        transform: translate(1px, 2px) rotate(0deg)
    }

    to {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
        transform: translate(1px, -2px) rotate(-1deg)
    }
}

@keyframes shake {
    0% {
        -webkit-transform: translate(1px, 1px) rotate(0deg);
        transform: translate(1px, 1px) rotate(0deg)
    }

    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
        transform: translate(-1px, -2px) rotate(-1deg)
    }

    20% {
        -webkit-transform: translate(-3px) rotate(1deg);
        transform: translate(-3px) rotate(1deg)
    }

    30% {
        -webkit-transform: translate(3px, 2px) rotate(0deg);
        transform: translate(3px, 2px) rotate(0deg)
    }

    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
        transform: translate(1px, -1px) rotate(1deg)
    }

    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
        transform: translate(-1px, 2px) rotate(-1deg)
    }

    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
        transform: translate(-3px, 1px) rotate(0deg)
    }

    70% {
        -webkit-transform: translate(3px, 1px) rotate(-1deg);
        transform: translate(3px, 1px) rotate(-1deg)
    }

    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
        transform: translate(-1px, -1px) rotate(1deg)
    }

    90% {
        -webkit-transform: translate(1px, 2px) rotate(0deg);
        transform: translate(1px, 2px) rotate(0deg)
    }

    to {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
        transform: translate(1px, -2px) rotate(-1deg)
    }
}

.hero-btn {
    padding: 8px 16px;
    font-size: 13px;
    line-height: 1;
    border: #4169e1 2px solid;
    border-radius: 6px;
    background-color: #8ab4f8;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-btn:hover {
    background-color: #4169e1;
}


/* Portfolio Section */

.portfolio {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    padding-bottom: 10vmin;
}

.portfolio-header {
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
    font-weight: 300;
}

.portfolio-header h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.portfolio-header p {
    font-size: 1.1rem;
    color: #555;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
}

.portfolio-card {
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.portfolio-card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.portfolio-card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.portfolio-card p {
    font-size: 1rem;
    color: #666;
}

.portfolio-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    border: 4px outset #000;
}


.portfolio-buttons {
    display: flex;
    gap: 15px;
    margin: 1rem 0;
    /* spacing above and below */
}

.btn {
    padding: 10px 18px;
    border-radius: 6px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-block;
    transition: 0.25s ease;
}

.code-btn {
    background: #2563eb;
    color: #fff;
}

.code-btn:hover {
    background: #1d4ed8;
}

.live-btn {
    background: #16a34a;
    color: #fff;
}

.live-btn:hover {
    background: #15803d;
}

/* About-Section */

.about {
    background-color: #2b2b2b;
    padding-bottom: 10vmin;
    color: #fff;
}

.about h2 {
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.about-section {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.about img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px outset #fff;

}

.about-text p {
    font-size: 1.4rem;
    color: #ddd;
    line-height: 1.6;
}

/* Skills-Section */

.skills-section {
    background-color: #000312;
    color: #fff;
    padding-bottom: 10vmin;
    background-image: url(images/projects/SkillsBS.5ad69da61dd96519f53d.jpg);
    background-attachment: fixed;
}

.skills-section h2 {
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 1rem;
    font-weight: 500;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.skills-list li {
    -webkit-animation: spin 2s linear 1;
    animation: spin 2s linear 1;
    padding-top: 5vmin;
    padding-left: 1vh;
    padding-right: 1vh
}

.skills-list i {
    font-size: 3.2rem;
}

.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #1572b6;
}

.fa-js {
    color: #f7df1e;
}

.fa-react {
    color: #61dafb;
}

.fa-git-alt {
    color: #f05032;
}

.fa-github {
    color: #ffffff;
}

.fa-figma {
    color: #f24e1e;
}

.skills-list i:hover {
    -webkit-animation: vibrate .5s linear infinite;
    animation: vibrate .5s linear infinite
}

@-webkit-keyframes vibrate {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    25% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    50% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }

    75% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes vibrate {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    25% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    50% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }

    75% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@media only screen and (max-width:520px) {
    .skills-list i {
        font-size: 4vh
    }
}

/* Contact */

.contact {
    background-color: #fff;
    padding-bottom: 10vmin;
    padding: 50px;
}

.contact h3 {
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 500;

    color: #000;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 20px;
    width: 100%;
    max-width: 480px;
    margin: auto;
}


.form-control button {
    width: 100px;
    background-color: #8ab4f8;
    border-color: #0d6efd;
    border-radius: 10px;
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    padding: 1vh;
}

.form-control button:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
}

.form-control button:focus {
    outline: 5px solid rgba(13, 110, 253, .25)
}

.contact #name,
.contact #email {
    border: none;
    border-bottom: 2px solid #000;
}

.contact #name,
.contact #email,
.contact #message {
    background-color: transparent;
    color: #000;
    width: 100%;
}

.contact #message {
    border: none;
    border-bottom: 2px solid;
    height: 150px;
    resize: none;
}

.contact #name:hover,
.contact #email:hover,
.contact #message:hover {
    -webkit-animation: mymove 3s ease-in-out infinite;
    animation: mymove 3s ease-in-out infinite;
    border-bottom: 2px solid;
}

@-webkit-keyframes mymove {
    0% {
        border-color: #ee7752
    }

    25% {
        border-color: #23d5ab
    }

    50% {
        border-color: #e73c7e
    }

    75% {
        border-color: #8ab4f8
    }

    to {
        border-color: #ee7752
    }
}

@keyframes mymove {
    0% {
        border-color: #ee7752
    }

    25% {
        border-color: #23d5ab
    }

    50% {
        border-color: #e73c7e
    }

    75% {
        border-color: #8ab4f8
    }

    to {
        border-color: #ee7752
    }
}

.form-control input,
.form-control textarea {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

input:focus,
textarea:focus {
    outline: none;
}

/* footer*/
footer {
    background-color: #000;
    bottom: 0;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 20px;
}